# Compiled files
*.class

# Logs
*.log

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp