# compiled files
*.class
out/

# logs
*.log

# vscode
.vscode/

# intellij
.idea/
*.iml

# eclipse
.project
.classpath
.settings/

# netbeans
nbproject/private/

# system files
.DS_Store
Thumbs.db

# temp files
*.tmp
*.swp